mixin conditions()
  +b.SECTION.conditions
    +e.DIV.container
      +e.DIV.image
        img(src="./img/conditions/image2.png")
      +e.DIV.info
        h3 Loyal conditions
        p In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew. In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew.
        button.btn Our conditions 
