html, body, div, span, applet, object, iframe,
h1,
.page h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/***********************MEDIA QUERIES***********************/
/***********************COLORS & FONTS***********************/
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }

.navigation__container, .header__container, .reliability__container, .services__container, .conditions__container, .growth__container, .widgets__container, .contact__container, .afterfooter__container, .footer__container {
  margin: 0 auto;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 320px) {
    .navigation__container, .header__container, .reliability__container, .services__container, .conditions__container, .growth__container, .widgets__container, .contact__container, .afterfooter__container, .footer__container {
      width: 100%;
      padding: 0 15px; } }
  @media (min-width: 768px) {
    .navigation__container, .header__container, .reliability__container, .services__container, .conditions__container, .growth__container, .widgets__container, .contact__container, .afterfooter__container, .footer__container {
      width: 750px; } }
  @media (min-width: 1024px) {
    .navigation__container, .header__container, .reliability__container, .services__container, .conditions__container, .growth__container, .widgets__container, .contact__container, .afterfooter__container, .footer__container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .navigation__container, .header__container, .reliability__container, .services__container, .conditions__container, .growth__container, .widgets__container, .contact__container, .afterfooter__container, .footer__container {
      width: 1170px; } }
  @media (min-width: 1500px) {
    .navigation__container, .header__container, .reliability__container, .services__container, .conditions__container, .growth__container, .widgets__container, .contact__container, .afterfooter__container, .footer__container {
      width: 1500px; } }

.wow {
  visibility: hidden; }

.page {
  font-family: "Circe", Helvetica, sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  background: -webkit-linear-gradient(60deg, #38445f, #49617c);
  background: linear-gradient(30deg, #38445f, #49617c); }
  .page a {
    color: #fff;
    font-family: "Circe", Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    text-decoration: none;
      -webkit-text-decoration-color: #dfdfdf;
              text-decoration-color: #dfdfdf; }
  .page h1, .page h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 90px 0 20px 0; }
  .page h3 {
    font-size: 34px;
    padding: 30px 0 20px 0; }
  .page p {
    padding: 30px 0; }
  .page hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0; }
  .page .btn {
    border-radius: 50px;
    border: 2px solid #a3cd8c;
    color: #a3cd8c;
    padding: 15px 45px 15px 26px;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    position: relative;
    outline: 0; }
    .page .btn:after {
      content: '';
      background-image: url(../img/arrow.svg);
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: block;
      max-width: 9px;
      max-height: 18px;
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -9px; }
    .page .btn:hover {
      background-color: #a3cd8c;
      color: #fff; }
      .page .btn:hover:after {
        content: '';
        background-image: url(../img/arrowH.svg); }
  .page .btn-green {
    background-color: #a3cd8c;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    padding: 25px 100px;
    cursor: pointer;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    .page .btn-green:after {
      content: none; }
    .page .btn-green:hover {
      background-color: #7ca465;
      border: 2px solid #7ca465; }
      .page .btn-green:hover:after {
        content: none; }
  .page__wrap {
    margin: 0 auto; }

@media (min-width: 768px) {
  #navbar__icon {
    display: none; } }

.navigation {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 9999; }
  .navigation__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .navigation__container {
        padding: 0 40px; } }
    @media (max-width: 480px) {
      .navigation__container {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0 20px; } }
  .navigation__converter {
    font-size: 18px;
    color: #fff;
    margin-left: 27px; }
    @media (max-width: 480px) {
      .navigation__converter {
        margin-left: 0; } }
    .navigation__converter span {
      background-color: #fff;
      color: red;
      padding: 7px 12px;
      margin: 0 20px;
      border-radius: 20px;
      font-size: 12px; }
  .navigation__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 4;
    -webkit-flex-grow: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (max-width: 768px) {
      .navigation__items {
        display: none; } }
    .navigation__items--responsive {
      display: block;
      width: 100%;
      background-color: #56627e;
      padding: 10px; }
  .navigation__items_link {
    line-height: 34px;
    border: 2px solid transparent; }
    .navigation__items_link:last-child a {
      margin: 0 0 0 24px; }
    .navigation__items_link:nth-child(3) {
      border: 2px solid #fff;
      border-radius: 25px; }
    .navigation__items_link a {
      font-size: 12px;
      text-transform: uppercase;
      margin: 0 24px;
      letter-spacing: 1px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      height: 100%; }
      .navigation__items_link a:hover {
        color: #c1c1c1; }

.header {
  min-height: 728px;
  background: url(./../img/header/bg1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .header__container p {
      line-height: 1.7; }

.reliability {
  height: 100%; }
  .reliability:before {
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    background: -webkit-linear-gradient(60deg, #a3cd8c, #779aca);
    background: linear-gradient(30deg, #a3cd8c, #779aca); }
  .reliability__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 100px 30px;
    min-height: 500px; }
    @media (max-width: 768px) {
      .reliability__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .reliability__info {
    margin: 0 30px;
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1))); }
    @media (max-width: 768px) {
      .reliability__info {
        width: 100%;
        margin: 0; } }
    .reliability__info p {
      font-size: 14px;
      line-height: 1.5;
      color: #96a7b4; }
  .reliability__image {
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1))); }
    @media (max-width: 768px) {
      .reliability__image {
        width: 100%;
        margin: 70px 0; } }
    .reliability__image img {
      width: 100%;
      height: auto;
      display: block; }

.services {
  height: 100%;
  border-top: 2px solid #56627e;
  border-bottom: 2px solid #56627e; }
  .services__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 100px 30px;
    min-height: 500px; }
    @media (max-width: 768px) {
      .services__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .services__item {
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 4) + ( 40px * (4 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 4) + ( 40px * (4 - 1)));
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer; }
    .services__item:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    @media (max-width: 768px) {
      .services__item {
        width: 100%; } }
    .services__item img {
      display: block;
      margin: 30px; }
    .services__item span {
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .services__item p {
      font-size: 14px;
      line-height: 1.5;
      color: #96a7b4;
      padding: 0 30px 30px 30px; }
      @media (max-width: 768px) {
        .services__item p {
          padding: 30px; } }

.conditions {
  height: 100%;
  border-bottom: 2px solid #56627e; }
  .conditions:before {
    content: '';
    width: 100%;
    height: 5px;
    background: -webkit-linear-gradient(60deg, #a3cd8c, #779aca);
    background: linear-gradient(30deg, #a3cd8c, #779aca); }
  .conditions__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 100px 30px;
    min-height: 500px; }
    @media (max-width: 768px) {
      .conditions__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .conditions__image {
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1))); }
    @media (max-width: 768px) {
      .conditions__image {
        width: 100%;
        margin: 30px 0; } }
    .conditions__image img {
      width: 100%;
      height: auto;
      display: block; }
  .conditions__info {
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 4) + ( 40px * (4 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 4) + ( 40px * (4 - 1))); }
    @media (max-width: 768px) {
      .conditions__info {
        width: 100%; } }
    .conditions__info h3 {
      padding: 0 0 30px 0; }
    .conditions__info p {
      font-size: 14px;
      line-height: 1.5;
      color: #96a7b4; }

.growth {
  height: 100%;
  border-bottom: 2px solid #56627e; }
  .growth:before {
    content: '';
    width: 100%;
    height: 5px;
    background: -webkit-linear-gradient(60deg, #a3cd8c, #779aca);
    background: linear-gradient(30deg, #a3cd8c, #779aca); }
  .growth__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 30px;
    min-height: 500px; }
    @media (max-width: 768px) {
      .growth__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .growth__image {
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1))); }
    @media (max-width: 768px) {
      .growth__image {
        width: 100%;
        margin: 30px 0; } }
    .growth__image img {
      width: 100%;
      height: auto;
      display: block; }
  .growth__info {
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 5) + ( 40px * (5 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 5) + ( 40px * (5 - 1))); }
    @media (max-width: 768px) {
      .growth__info {
        width: 100%; } }
    .growth__info p {
      font-size: 14px;
      line-height: 1.5;
      color: #96a7b4; }

.widgets {
  min-height: 500px;
  height: 100%; }
  .widgets__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 100px 30px;
    min-height: 500px; }
    @media (max-width: 768px) {
      .widgets__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .widgets h3 {
    padding: 0 0 50px 0; }
  .widgets__traslations {
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 7) + ( 40px * (7 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 7) + ( 40px * (7 - 1)));
    color: #9fa3a3; }
    @media (max-width: 768px) {
      .widgets__traslations {
        width: 100%; } }
    @media (max-width: 768px) {
      .widgets__traslations table {
        display: block;
        width: 100%; } }
    @media (max-width: 768px) {
      .widgets__traslations table tr {
        display: block;
        width: 100%; } }
    .widgets__traslations table td {
      padding: 20px;
      border: 2px solid #56627e;
      font-size: 14px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      cursor: pointer;
      box-sizing: border-box; }
      .widgets__traslations table td:hover {
        background-color: rgba(255, 255, 255, 0.1); }
      @media (max-width: 768px) {
        .widgets__traslations table td {
          display: block;
          width: 100%; } }
      .widgets__traslations table td:first-child span {
        color: #7da3d7; }
      .widgets__traslations table td:last-child span {
        color: #5bb786; }
  .widgets__news {
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 5) + ( 40px * (5 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 5) + ( 40px * (5 - 1))); }
    @media (max-width: 768px) {
      .widgets__news {
        width: 100%;
        margin: 50px 0; } }
    .widgets__news-items {
      color: #9fa3a3;
      font-size: 14px; }
      .widgets__news-items span {
        color: #fff;
        font-weight: 700; }

.contact {
  min-height: 500px;
  height: 100%;
  background: url(./../img/widgets/bg2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .contact__container {
    min-height: 500px;
    height: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .contact__form {
    margin: 0 auto;
    position: relative;
    bottom: -70px;
    background-color: #fff;
    text-align: center; }
    @media (min-width: 768px) {
      .contact__form {
        min-width: 600px; } }
    @media (max-width: 768px) {
      .contact__form {
        width: 100%; } }
    .contact__form:before {
      content: '';
      width: 100%;
      height: 10px;
      display: block;
      background: url(./../img/contact/ribbon.png); }
    .contact__form h3 {
      color: #000;
      padding: 50px 70px 10px 70px; }
      @media (max-width: 768px) {
        .contact__form h3 {
          padding: 50px 30px 10px 30px; } }
    .contact__form form {
      margin: 0 auto;
      padding: 10px 70px 70px 70px; }
      @media (max-width: 768px) {
        .contact__form form {
          padding: 10px 30px 70px 30px; } }
      .contact__form form input, .contact__form form textarea {
        display: block;
        width: 100%;
        box-sizing: border-box;
        background-color: #f4f7fb;
        padding: 15px;
        margin: 20px 0;
        border: 0; }
        .contact__form form input::-webkit-input-placeholder, .contact__form form textarea::-webkit-input-placeholder {
          color: #bac2c9;
          text-transform: uppercase; }
        .contact__form form input::-moz-placeholder, .contact__form form textarea::-moz-placeholder {
          color: #bac2c9;
          text-transform: uppercase; }
        .contact__form form input:-ms-input-placeholder, .contact__form form textarea:-ms-input-placeholder {
          color: #bac2c9;
          text-transform: uppercase; }
        .contact__form form input::placeholder, .contact__form form textarea::placeholder {
          color: #bac2c9;
          text-transform: uppercase; }
      .contact__form form textarea {
        resize: vertical; }
      .contact__form form button {
        width: 100%;
        box-sizing: border-box;
        background-color: #7da3d7;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        border: 0;
        border-radius: 0;
        padding: 20px 0;
        cursor: pointer;
        -webkit-transition: 0.1s;
        transition: 0.1s; }
        .contact__form form button:hover {
          background-color: #5388d1; }
  .contact:before {
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    background: -webkit-linear-gradient(60deg, #a3cd8c, #779aca);
    background: linear-gradient(30deg, #a3cd8c, #779aca); }
  .contact:after {
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    background: -webkit-linear-gradient(60deg, #a3cd8c, #779aca);
    background: linear-gradient(30deg, #a3cd8c, #779aca); }

.afterfooter {
  height: 100%; }
  .afterfooter__container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 0;
    min-height: 414px; }
    .afterfooter__container h3 {
      text-align: center; }

.footer {
  border-top: 2px solid #56627e; }
  .footer__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .footer__menu {
    padding: 30px; }
    @media (max-width: 768px) {
      .footer__menu {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        box-sizing: border-box; } }
    .footer__menu a {
      padding: 30px 20px;
      text-transform: uppercase; }
      .footer__menu a:hover {
        color: #dfdfdf; }
  @media (max-width: 768px) {
    .footer__copy {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .footer__copy p {
    padding: 30px; }
