mixin widgets()
  +b.SECTION.widgets
    +e.DIV.container
      +e.DIV.traslations
        h3 Last Translations
        table
          tr
            td 
              span 1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX
            td Less than minute ago
            td 
              span 0.8964432 BTC
          tr
            td 
              span 1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX
            td Less than minute ago
            td 
              span 0.8964432 BTC
          tr
            td 
              span 1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX
            td Less than minute ago
            td 
              span 0.8964432 BTC
          tr
            td 
              span 1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX
            td Less than minute ago
            td 
              span 0.8964432 BTC
          tr
            td 
              span 1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX
            td Less than minute ago
            td 
              span 0.8964432 BTC
      </table>
      +e.DIV.news
        h3 News
        +e.DIV.news-items
          span Invest BTC in peer-to-peer loans and get 19% ARP with BTCJam.com
          p BTCJam 1 minute ago
        
          span A spat between developers may split the digital currency
          p Reddit 10 minutes ago
          
          span Bitcoin wallet Blockchain.info hits 4 million user mark
          p CoinDesk 43 minutes ago
          
          span Destinia: Bitcoin-paying customers spen more on travel
          p CEX.io 56 minutes ago
      
