mixin growth()
  +b.SECTION.growth
    +e.DIV.container
      +e.DIV.info
        h3 Stable growth
        p In the tumultuous business of cutting-in and attending to a whale, there <br>is much running backwards and forwards among the crew.
        button.btn More about your income 
      +e.DIV.image
        img(src="./img/growth/image3.png")
