extends template

block content
	+reliability()
	+services({
		"items": [
			{
				"img": "./img/services/icon1.svg",
				"title": "Anonymous accounts",
				"content": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ",
			},
			{
				"img": "./img/services/icon2.svg",
				"title": "Anonymous transactions",
				"content": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ",
			},
			{
				"img": "./img/services/icon3.svg",
				"title": "100% SSL Encrypting",
				"content": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ",
			}
		]
	})
	+conditions()
	+growth()
	+widgets()
	+contact()
	+afterfooter()

	
