mixin header()
  +b.SECTION.header
    +e.DIV.container
      h1 Earn more than 100% a year
      p In the tumultuous business of cutting-in and attending to a whale, there <br>is much running backwards and forwards among the crew.
      button(class="btn btn-green") Start Earning
