mixin reliability()
  +b.SECTION.reliability
    +e.DIV.container
      +e.DIV.info
        h3 Reliability
        p In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew.
        button.btn What's our secret? 
      +e.DIV.image
        img(src="./img/reliability/image1.png")
