mixin contact()
  +b.SECTION.contact
    +e.DIV.container
      +e.DIV.form
        h3 Contact Us
        form
          input(type="text" placeholder="Name")
          input(type="email" placeholder="Email")
          textarea(rows="9" placeholder="Your Message")
          button Send Us Your Message
