mixin footer()
  +b.SECTION.footer
    +e.DIV.container
      +e.DIV.menu
        a(href="#") Rules
        a(href="#") Commision
        a(href="#") Conditions
      +e.DIV.copy
        p Crypto 2017 by Alexandr Komarevich
